@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #20201f;
}

main {
    padding: 1.25rem;
}

.commands-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.commands-list .command {
    font-family: "VT323", monospace;
    font-size: 1.25rem;
    color: #fff;
}

.command {
    background: #fff;
    animation: flash .75s forwards;
}

.string {
    color: rgb(30, 221, 189) !important;
}

.int {
    color: #d8b61e !important;
}

.u-command {
    color: rgb(30, 221, 62) !important;
}

.error {
    color: #ff0000 !important;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "VT323", monospace;
    font-weight: bold;
    margin-bottom: 1.2rem;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    font-size: 1.2rem;
    border-radius: 8px;
}

.input-container span {
    padding-right: .25rem;
    color: #197521;
}

#commandInput {
    font-family: "VT323", monospace;
    font-weight: 900;
    height: 50px;
    background: none;
    border: none;
    outline: none;
    color: #197521;
    font-size: 1.15rem;
}

@keyframes flash {
    to {background: transparent;}
}